// Styles written by __gulp_init_author_name__ @ __gulp_init_author_company__

/* ------------------------------------------------------------------------ *\
 * Tribe Events (https://theeventscalendar.com/)
\* ------------------------------------------------------------------------ */

/* stylelint-disable selector-class-pattern, selector-max-id, selector-max-type, selector-no-qualifying-type */

$tribe_primary: color("primary");
$tribe_foreground: color("foreground");
$tribe_font: $body-font;

/* container */

#tribe-events-pg-template,
.tribe-events .tribe-events-l-container,
.tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
    & {
        max-width: 100%;
        padding: 0;
    }
}

/* loader */

.tribe-common .tribe-common-c-loader__dot {
    & {
        background-color: transparentize($tribe_primary, 0.93);
    }
}

@keyframes a {
    50% {
        background-color: $tribe_primary;
    }
}

/* icons */

.tribe-common .tribe-common-c-svgicon {
    & {
        color: $tribe_primary;
    }
}

/* buttons */

.tribe-common .tribe-common-c-btn,
.tribe-common a.tribe-common-c-btn {
    & {
        background-color: $tribe_primary;
    }

    &:focus,
    &:hover {
        background-color: transparentize($tribe_primary, 0.2);
    }

    &:active {
        background-color: transparentize($tribe_primary, 0.1);
    }
}

#tribe-events .tribe-events-button,
.tribe-events-button {
    & {
        font-family: $tribe_font;
    }
}

#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type="submit"],
.tribe-events-button,
.tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a {
    & {
        background-color: $tribe_primary;
    }
}

/* links */

.tribe-common a {
    &,
    &:active,
    &:focus,
    &:hover,
    &:visited {
        color: $tribe_primary;
    }
}

.tribe-common .tribe-common-anchor {
    &:active,
    &:focus,
    &:hover {
        border-bottom-color: $tribe_foreground;
    }
}

.tribe-common .tribe-common-anchor-thin-alt {
    & {
        border-bottom-color: $tribe_primary;
    }

    &:active,
    &:focus,
    &:hover {
        border-bottom-color: currentColor;
        color: $tribe_primary;
    }
}

.tribe-events-pro .tribe-events-pro-organizer__meta-email-link,
.tribe-events-pro .tribe-events-pro-organizer__meta-website-link {
    & {
        border-bottom-width: 1px;
        color: $tribe_primary;
    }
}

.tribe-events-pro .tribe-events-pro-week-grid__header-column--current .tribe-events-pro-week-grid__header-column-daynum,
.tribe-events-pro .tribe-events-pro-week-grid__header-column--current .tribe-events-pro-week-grid__header-column-daynum-link {
    & {
        color: $tribe_primary;
    }

    &:focus,
    &:hover {
        color: transparentize($tribe_primary, 0.2);
    }
}

/* tooltip */

.tribe-events-tooltip .tribe-events-event-body {
    & {
        font-family: $tribe_font;
    }
}

/* featured */

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event-datetime-featured-text {
    & {
        color: $tribe_primary;
    }
}

/* notices */

.tribe-events-notices {
    & {
        font-family: $tribe_font;
    }
}

/* datepicker */

.tribe-events .datepicker .day.active,
.tribe-events .datepicker .day.active.focused,
.tribe-events .datepicker .day.active:focus,
.tribe-events .datepicker .day.active:hover,
.tribe-events .datepicker .month.active,
.tribe-events .datepicker .month.active.focused,
.tribe-events .datepicker .month.active:focus,
.tribe-events .datepicker .month.active:hover,
.tribe-events .datepicker .year.active,
.tribe-events .datepicker .year.active.focused,
.tribe-events .datepicker .year.active:focus,
.tribe-events .datepicker .year.active:hover {
    & {
        background-color: $tribe_primary;
    }
}

/* bar */

.tribe-events .tribe-events-c-events-bar__search-button::before {
    & {
        background-color: color("primary");
    }
}

.tribe-events .tribe-events-c-view-selector__button::before {
    & {
        background-color: color("primary");
    }
}

/* ical link */

.tribe-events .tribe-events-c-ical {
    & {
        clear: both;
    }
}

.tribe-events .tribe-events-c-ical__link {
    & {
        border-color: $tribe_primary;
        color: $tribe_primary;
    }

    &:active,
    &:focus,
    &:hover {
        background-color: $tribe_primary;
    }
}

.tribe-events .tribe-events-c-ical__link-icon-svg {
    & {
        color: $tribe_primary;
    }
}

.tribe-events-cal-links .tribe-events-gcal,
.tribe-events-cal-links .tribe-events-ical {
    & {
        @extend .button;
    }

    &:not(:last-child) {
        margin-right: remify(20, 16);
    }
}

/* pagination */

.tribe-events-sub-nav {
    & {
        padding: 0;
    }
}

/* list */

.tribe-events .tribe-events-calendar-list__event-row--featured .tribe-events-calendar-list__event-date-tag-datetime::after {
    & {
        background-color: $tribe_primary;
    }
}

.tribe-events .tribe-events-calendar-list__month-separator {
    & {
        width: 100%;
    }
}

/* month */

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date,
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link {
    & {
        color: $tribe_primary;
    }
}

.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link:focus,
.tribe-events .tribe-events-calendar-month__day--current .tribe-events-calendar-month__day-date-link:hover {
    & {
        color: transparentize($tribe_primary, 0.2);
    }
}

.tribe-events .tribe-events-calendar-month__calendar-event--featured::before {
    & {
        background-color: $tribe_primary;
    }
}

/* month mobile */

.tribe-events .tribe-events-calendar-month__week {
    & {
        width: 100%;
    }
}

.tribe-events .tribe-events-calendar-month__day-cell--selected,
.tribe-events .tribe-events-calendar-month__day-cell--selected:focus,
.tribe-events .tribe-events-calendar-month__day-cell--selected:hover {
    & {
        background-color: $tribe_primary;
    }
}

.tribe-events .tribe-events-calendar-month__mobile-events-icon--event {
    & {
        background-color: $tribe_primary;
    }
}

.tribe-events .tribe-events-calendar-month__day-cell--selected .tribe-events-calendar-month__day-date {
    & {
        color: #FFFFFF; // this isn't ideal, as it's replicating the default, but it's the simplest solution
    }
}

.tribe-events .tribe-events-calendar-month-mobile-events__mobile-event-datetime-featured-text {
    & {
        color: $tribe_primary;
    }
}

.tribe-events .tribe-events-calendar-month-nav {
    & {
        margin-bottom: 1em;
    }
}

/* day */

.tribe-events .tribe-events-calendar-day__time-separator {
    & {
        width: 100%;
    }
}

.tribe-events .tribe-events-calendar-day__event--featured::after {
    & {
        background-color: $tribe_primary;
    }
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-day__event-datetime-featured-text {
    & {
        color: $tribe_primary;
    }
}

/* single */

.tribe-events-back {
    & {
        font-family: $tribe_font;
        margin-top: 0;
    }
}

.tribe-events-back a {
    & {
        color: $tribe_foreground;
        transition: color 0.2s ease-out;
    }

    &:hover {
        color: $tribe_primary;
    }
}

.single-tribe_events .tribe-events-single-event-title {
    & {
        font-family: $tribe_font;
    }
}

.tribe-events-schedule {
    & {
        margin-top: 0;
    }

    h2 {
        font-family: $tribe_font;
        margin-top: 0;
    }
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost {
    & {
        font-family: $tribe_font;
    }
}

.single-tribe_events .tribe-events-schedule .tribe-events-divider {
    & {
        margin: 0 0.25em;
    }
}

.single-tribe_events .tribe-events-schedule .event-is-recurring {
    & {
        font-family: $tribe_font;
    }
}

.single-tribe_events .tribe-events-schedule .event-is-recurring a {
    & {
        color: $tribe_primary;
    }
}

.tribe-events-meta-group .tribe-events-single-section-title {
    & {
        font-family: $tribe_font;
    }
}

.tribe-events-content a {
    & {
        @extend .link;

        border-bottom: 0 !important;
    }

    &.button {
        @extend .button;
    }
}

.single-tribe_events .tribe-events-event-meta dl {
    & {
        font-family: $tribe_font;
    }
}

.single-tribe_events .tribe-events-event-meta dl a {
    & {
        color: $tribe_primary;
        transition: color 0.2s ease-out;
    }

    &:active {
        color: darken(saturate(adjust-hue($tribe_primary, -34.0756), 0), 36.6667);
    }

    &:visited {
        color: darken(desaturate(adjust-hue($tribe_primary, 5), 46.875), 47.451);
    }
}

.tribe-events-related-events-title {
    & {
        font-family: $tribe_font;
    }
}

.tribe-events-single ul.tribe-related-events li .tribe-related-event-info {
    & {
        font-family: $tribe_font;
    }

    a {
        color: $tribe_primary;
    }
}

.tribe-events-single ul.tribe-related-events .recurringinfo {
    & {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
}

#tribe-events-footer .tribe-events-sub-nav,
#tribe-events-header .tribe-events-sub-nav {
    & {
        color: $tribe_foreground;
        font-family: $tribe_font;
        padding: 0;
    }

    a {
        color: $tribe_primary;
    }
}

/* Pro: Week */

.tribe-events-pro .tribe-events-pro-week-day-selector__day--active {
    & {
        border-color: $tribe_primary;
    }
}

.tribe-events-pro .tribe-events-pro-week-day-selector__events-icon {
    & {
        background-color: $tribe_primary;
    }
}

.tribe-events-pro .tribe-events-pro-week-grid__event-link {
    .tribe-events-pro-week-grid__event-link-inner {
        background-color: transparentize($tribe_primary, 0.9);
    }

    &:focus .tribe-events-pro-week-grid__event-link-inner,
    &:hover .tribe-events-pro-week-grid__event-link-inner {
        background-color: transparentize($tribe_primary, 0.8);
    }
}

/* Pro: Organizer */

.tribe-events-pro .tribe-events-pro-organizer__meta-email,
.tribe-events-pro .tribe-events-pro-organizer__meta-phone,
.tribe-events-pro .tribe-events-pro-organizer__meta-website {
    & {
        align-items: center;
        display: flex;
    }
}
