// Styles written by @@init_author_name @ @@init_author_company

/* ------------------------------------------------------------------------ *\
 * Colors
\* ------------------------------------------------------------------------ */

$primary: @@init_primary_color;
$primary_alt: @@init_primary_alt_color;

$secondary: @@init_secondary_color;
$secondary_alt: @@init_secondary_alt_color;

$tertiary: @@init_tertiary_color;
$tertiary_alt: @@init_tertiary_alt_color;

$quaternary: @@init_quaternary_color;
$quaternary_alt: @@init_quaternary_alt_color;

$quinary: @@init_quinary_color;
$quinary_alt: @@init_quinary_alt_color;

$senary: @@init_senary_alt_color;
$senary_alt: @@init_senary_alt_color;

$accent: @@init_accent_color;
$accent_alt: @@init_accent_alt_color;

$light: @@init_light_color;
$light_alt: @@init_light_alt_color;

$dark: @@init_dark_color;
$dark_alt: @@init_dark_alt_color;

$foreground: @@init_foreground_color;
$foreground_alt: @@init_foreground_alt_color;

$background: @@init_background_color;
$background_alt: @@init_background_alt_color;

$page_background: @@init_page_background_color;
$page_background_alt: @@init_page_background_alt_color;

$warning: @@init_warning_color;
$warning_alt: @@init_warning_alt_color;

/* ------------------------------------------------------------------------ *\
 * Fonts                                                                    *
\* ------------------------------------------------------------------------ */

$heading-font: @@init_heading_font;
$body-font: @@init_body_font;

/* ------------------------------------------------------------------------ *\
 * Widths                                                                   *
\* ------------------------------------------------------------------------ */

$site-width: @@init_site_width;
$column-gap: @@init_column_gap;
$content-padding: @@init_content_padding;

/* ------------------------------------------------------------------------ *\
 * Break Points                                                             *
\* ------------------------------------------------------------------------ */

$xxxl-break: 1440em / 16;
$xxl-break: 1366em / 16;
$xl-break: 1280em / 16;
$l-break: 1024em / 16;
$m-break: 960em / 16;
$s-break: 853em / 16;
$xs-break: 768em / 16;
$xxs-break: 640em / 16;
$xxxs-break: 480em / 16;

/* ------------------------------------------------------------------------ *\
 * Layers                                                                   *
\* ------------------------------------------------------------------------ */

$layers: (
    header: 5,
    navigation: 4,
    hero: 3,
    content: 2,
    footer: 1,
);
